@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --plyr-color-main: red;
}

@layer base {
  @font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('/fonts/montserrat/Montserrat-Regular.ttf');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('/fonts/montserrat/Montserrat-Medium.ttf');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('/fonts/montserrat/Montserrat-Bold.ttf');
  }
  @font-face {
    font-family: 'Inter UI';
    font-weight: 400;
    src: url('/fonts/inter-ui/Inter-UI-Regular.otf');
  }
  @font-face {
    font-family: 'Inter UI';
    font-weight: 500;
    src: url('/fonts/inter-ui/Inter-UI-Medium.otf');
  }
  @font-face {
    font-family: 'Inter UI';
    font-weight: 700;
    src: url('/fonts/inter-ui/Inter-UI-Bold.otf');
  }
  @font-face {
    font-family: 'Material Icons';
    src: url('/fonts/material-icons/Material-Icons.ttf');
  }
  body {
    @apply bg-yellow-100 px-50 pt-55 pb-95;
  }
}
